* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #039dfc;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  height: 250px;
}
.flex-container > .scheda {
  margin: 50px;
  text-align: center;
  border: solid 3px lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
